.section_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1em;
  width: 250px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px;
}

.container:hover {
  background-color: #ffbb33;
}
